html {
  background: gray;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  width: 70em;
  padding: 2em;
  margin: auto;
  margin-top: 1em;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

img {
  margin: 1em;
}

p {
  text-align: justify;
}

pre {
  font-size: 120%;
  overflow: auto;
}

